@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.75);
}
body {
  background-color: hsl(0, 0%, 95%);
}
.container {
  width: 78%;
  margin: 100px auto;
  display: flex;
}

.container div {
  position: relative;
  padding: 30px;
  height: 500px;
  justify-content: center;
}

h1 {
  margin: 30px 0px;
  font-family: "Big Shoulders Display", cursive;
}
p {
  font-family: "Lexend Deca", sans-serif;
  width: 70%;
  line-height: 27px;
}
#box-1 {
  background-color: hsl(31, 77%, 52%);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
        
}
#box-2 {
  background-color: hsl(184, 100%, 22%);
}
#box-3 {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
button {
  border: none;
  border-radius: 40px;
  margin: 45px 0;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  bottom: 0;
}
button:hover {
  background-color: aquamarine;
  color: white;
  transition-delay: .2s;
}
.btn1 {
  color: hsl(31, 77%, 52%);
}
.btn2 {
  color: hsl(184, 100%, 22%);
}
.btn3 {
  color: hsl(179, 100%, 13%);
}
#link {
  text-align: center;
  margin: 30px 0;
  color: goldenrod;
}

#link a {
  color: goldenrod;
  text-decoration: none;
}

#link a:hover {
  text-decoration: underline;
  color: red;
}
#grid{
  background-color: black;
}
.grid{
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-template-areas:
    'a a b'
    'c d d'
    'c e e'
  ;
}
.box-1{
  background-color: orangered;
  padding: 60px;
  grid-area: a;
}
.box-2{
  background-color: goldenrod;
  padding: 60px;
  grid-area: b;
}
.box-3{
  background-color: green;
  padding: 60px;
  grid-area: c;
}
.box-4{
  background-color: rgb(17, 131, 238);
  padding: 60px;
  grid-area: d;
}
.box-5{
  background-color:rgb(17, 131, 238);
  padding: 60px;
  grid-area: e;
}

/* @media screen {max-width: 375px;} */

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .container div {
    height: 600px;  
  }
}
